.card-container {
  width: 318px;
  height: 198px;
  border-radius: 10px;
}

.image-container {
  width: 90px;
  height: 108px;
  border-radius: 4px;
  position: absolute;
  left: 39%;
  top: 40%;
  text-align: center;
}

.card-title {
  font-size: 18px;
  color:#000000;
  margin-right: 10px;
  margin-top: 5px;
}

.static-img {
  margin-top: 20%;
}

.dynamic-img {
  margin-top: 3%;
}
