.container {
  margin-top: 5%;
}

.buttons-container {
  height: 240px;
}

::ng-deep.camera-switch {
  display: none;
}

.webcam-image {
  width: 318px;
  height: 225px;
}

ion-toggle {
  --handle-background-checked: #fff url(../../../../assets/toggle-on.png)
    no-repeat center / contain;
  --background: #797979;
  --background-checked: #f55f23;

  --handle-background: #cdcdcd;
  width: 49px;
  height: 21px;

  --handle-height: 13px;
  --handle-width: 13px;
  --handle-spacing: 5px;
}

ion-button {
  margin-right: 8%;
  width: 86px;
  height: 33px;
}

.camera-button {
  margin-left: 20%;
}

.camera-button-text {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
}

.camera-error {
  margin-right: 15%;
  margin-bottom: 20%;
  text-decoration: underline;
  color: #333333;
  text-align: right;
  font-size: 13px;
  font-family: 'Assistant';
}

.file {
  position: absolute;
  opacity: 0;
  width: 34%;
  margin-right: 7%;
  height: 16%;
}

.image-toolbar {
  position: absolute;
  left: 6%;
  bottom: 6.5%;
}

.cropper-button {
  width: 19px;
  height: 19px;
  margin: 7px;
}

.cropper-button-border {
  width: 37px;
  height: 33px;
  opacity: 0.73;
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0) 0%,
    #000000 100%
  );
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
