<div>

  <ion-row>
    <ion-col class="flex-row-center">
      <span class="title">{{'App.Messages.success' | translate}}</span>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col class="flex-row-center">
      <img class="image" src="assets/success.png">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="flex-row-center">
      <ion-button class="close-button" fill='clear' shape='round' color='forestgreen' (click)="close()">
        <span class="close-button-text">{{'App.Messages.button' | translate}}</span>
      </ion-button>
    </ion-col>
  </ion-row>

</div>
