.root {
  --grey: #777;
  --grey2: #dfe3e4;
  --blue: #2183dd;
  --green: #88b11a;
  --white: #fff;
}

.container {
  margin-top: 20px;
  width: 809px;
  height: 462px;
  background-color: #ffffff;
}

.title {
  font-size: 40px;
  color: #78b348;
}

.image {
  width: 100%;
}

.progress {
  position: relative;
  display: flex;

  .progress-track {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 5px;
    background-color: var(--grey2);
    z-index: -1;
  }

  // Each Step on the Progress Bar
  .progress-step {
    position: relative;
    width: 100%;
    font-size: 12px;
    text-align: center;

    // Hide the final step's progress bar
    &:last-child:after {
      display: none;
    }
  }

  // Step's circle in default state
  &:before {
    content: "\f00c";
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
    background: var(--white);
    border: 4px solid var(--grey2);
    border-radius: 100%;
    color: var(--white);
  }

  // Step's progress bar in default state
  &:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 50%;
    width: 0%;
    transition: width 1s ease-in;
    height: 5px;
    background: var(--grey2);
    z-index: -1;
  }

  // Step's active state
  &.is-active {
    color: var(--blue);

    &:before {
      border: 4px solid var(--grey);
      animation: pulse 2s infinite;
    }
  }

  // Step's complete state
  &.is-complete {
    color: var(--green);

    // Step's circle in complete state
    &:before {
      font-family: FontAwesome;
      font-size: 10px;
      color: var(--white);
      background: var(--green);
      border: 4px solid transparent;
    }

    // Step's progress bar in complete state
    &:after {
      background: var(--blue);
      animation: nextStep 1s;
      animation-fill-mode: forwards;
    }
  }
}

// Pulse animation for Step's circle in active state
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(33, 131, 221, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0);
  }
}

// Progressing to next step animation for Step's progress bar
@keyframes nextStep {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
