.container {
  margin-top: 20px;
}

.title {
  font-size: 40px;
  color: #d9001b;
}

.close-button {
  width: 139px;
  height: 52px;
  border-radius: 100px;
  background-color: #ffffff;
}

.close-button-text {
  color: #146d27;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
}

.image {
  width: 364px;
  height: 273px;
}
